#custom-slide-out {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    background-color: #000;
    padding: 20px;
    transform-origin: top right;
    transition: right 0.3s ease;
    z-index: 9999;
    width: 400px;
	height: 100%;
	color: #fff;
}

.side-button {
    position: fixed;
    top: 30%;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

#slide-out-content {
    display: none;
}

#mobile-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
	padding: 0;
    display: none;
}

#mobile-buttons a {
    background-color: #007bff;
	text-align: center;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
	width: 50%;
}

@media only screen and (max-width: 1000px) {
    #mobile-buttons {
        display: flex;
		flex-direction: row;
		gap: 0;
    }
}

.slide-out-open {
    right: 0 !important;
}